body {
  color: white;
  margin: auto;
  font-family: 'Montserrat', serif;
  background-image: url('../images/red-city.gif');
  /* background-image: url(images/blue-city.gif); */
  /* background-image: url(images/gray-city.webp); */
  background-size: cover;
}

.text {
  font-size: 2em;
  font-family: 'Open Sans', serif;
  text-align: center;
}

@font-face {
  font-family: pixelnew;
  src: url('../fonts/Fipps.otf');
}

.landing-section {
  height: auto;
}

.blogpage-link {
  position: absolute;
  width: 15vw;
  height: auto;
  top: 0;
  left: 0%;
  color: white;
  font-size: calc(.5rem + 3vw);
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

#title {
  font-family: 'pixelnew', serif;
  font-size: calc(1.5rem + 2.5vw);
  display: block;
  margin-top: calc(2.5rem + 1.5vw);
}

.social-icons {
  width: 40%;
}

.social-icons a {
  width: calc(2.5rem + 1.25vw);
}

.social-icons a img {
  width: 100%;
}

#biography {
  padding: 0 12% 0 12%;
  font-size: calc(1.25rem + 1.5vw);
  padding-bottom: calc(1.85rem + 1.5vw);
}

.transition-bar {
  display: block;
  height: 10vh;
  background-color: black;
}

#project-page {
  height: auto;
}

.subtitle {
  padding: 15vh 0 15vh 0;
  font-size: 6rem;
}

.train-bar {
  width: 100vw;
  height: 5vh;
  background-color: black;
}

.train-bar + .train-bar {
  margin-top: 15vh;
}

.proj {
  width: 100vw;
  height: auto;
  position: relative;
  overflow: hidden;
  backdrop-filter: opacity(0.85) blur(200px) grayscale(4);
}

.proj-intro {
  flex-basis: 50vw;
  display: flex;
  font-size: 3.4rem;
}

.proj-intro div img {
  max-width: 100%;
  height: auto;
}

.verticle-bar {
  position: absolute;
  background: blue;
  width: calc(3rem + 3.5vw);
  height: 100%;
  top: 0;
  z-index: 1;
}

.proj-description {
  padding: 1.5vh 0 1.5vh 0;
  line-height: calc(2.25rem + 1vw);
}

.proj:nth-child(odd) .proj-intro {
  order: 1;
}

.proj:nth-child(odd) .verticle-bar {
  transform: skew(-15deg);
  left: 44%;
}

.proj:nth-child(even) .proj-intro {
  order: 3;
}

.proj:nth-child(even) .verticle-bar {
  transform: skew(15deg);
  left: 47%;
}

@media only screen and (max-width: 900px) {
  .proj {
    display: flex;
    flex-direction: column;
  }

  .verticle-bar {
    visibility: hidden;
  }

  .proj a {
    width: auto;
  }

  .proj-description {
    flex-basis: auto;
  }

  .proj:nth-child .proj-description {
    order: 3;
    padding-left: calc(1rem + 2.75vw);
    padding-right: calc(1rem + 2.75vw);
  }
}

@media only screen and (min-width: 900px) {
  .proj {
    display: flex;
    flex-direction: row;
  }

  .verticle-bar {
    visibility: visible;
  }

  .proj a {
    width: calc(2.5rem + 1.25vw);
  }

  .proj-description {
    flex-basis: 50vw;
  }

  .proj:nth-child(even) .proj-description {
    order: 1;
    padding-left: calc(1rem + 2.75vw);
    padding-right: calc(10rem + 14vw);
  }

  .proj:nth-child(odd) .proj-description {
    order: 3;
    padding-right: calc(1rem + 2vw);
    padding-left: calc(7rem + 16vw);
  }
}

#quote {
  font-size: calc(3rem + 2vw);
  background-color: darkblue;
  margin-top: 4vw;
}
