body {
  margin: auto;
  font-family: 'Montserrat', serif;
  background-image: url('images/6.png');
  background-size: cover;
  background-position: 70% 20%;
}

.landing-section {
  display: block;
}

.title h1 {
  font-size: calc(15rem + 0vw);
  color: lightseagreen;
}

#umbrella {
  height: 50vw;
  background-image: url(images/u2b.png);
  background-position: -4.75vw 3.4vw;
  background-size: 110%;
  background-repeat-y: no-repeat;
}

/* #pole {
  background-color: red;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 3vw;
  height: 350vh;
  margin-left: 49vw;
} */

.blog-grid{
  margin-top: -2vw;
}

.blog-section {
  backdrop-filter: opacity(0.85) blur(20px) brightness(200%);
}

.blog {
  margin: 8vw 5vw 8vw 5vw;
  padding: 1.75vw;
  border-image: url(images/b1.png) 12% 12% round;
  border-width: 90px;
  border-style: solid;
}

.thumbnail img {
  width: 100%;
}

.summary {
  border: 1px solid red;
  margin-top: calc(1rem + .25vw);
  padding: 0 2vw 0 2vw;
  line-height: calc(1.25rem + 1.5vw);
  font-size: calc(1rem + 1vw);
  text-align: center;
}

.text {
  font-size: 16pt;
  font-family: 'Open Sans', serif;
}

.footer {
  display: inline-block;
  border: 1px solid green;
  margin-top: 1.75%;
}

.blog-title {
  border: 1px solid gray;
  font-size: calc(1.5rem + 1.5vw);
}