body {
  margin: auto;
  font-family: 'Montserrat', serif;
  background-image: url('images/4.gif');
  /* background-image: url(images/7.gif); */
  /* background-image: url(images/5.webp); */
  /* background-image: url(images/8-bit-gif.gif); */
  background-size: cover;
}

@font-face {
  font-family: pixelate;
  src: url("pixelboy.ttf");
}

@font-face {
    font-family: pixelog;
    src: url('slkscre.ttf');
}

@font-face {
    font-family: pixelnew;
    src: url('Fipps.otf');
}

@keyframes greenPulse {
  from { background-color: #749a02; box-shadow: 0 0 9px #333;}
  50% { background-color: #89fa00;; box-shadow: 0 0 18px #89fa00;}
  to { background-color: #749a02; box-shadow: 0 0 9px #333; }
}

.landing-section {
  height: auto;
}

#title {
    font-family: 'pixelnew';
    animation-name: greenPulse;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    font-size: calc(1.5rem + 2.5vw);
    display: block;
    margin-top: calc(2.5rem + 1.5vw);
}

.social-icons{
  width: 40%;
}

a {
  width: calc(2.5rem + 1.25vw);
}

a > img {
  width: 100%;
}

.text {
  font-size: 2em;
  font-family: 'Open Sans', serif;
  text-align: center;
}

#biography {
  padding: 0 12% 0 12%; 
  font-size: calc(1.25rem + 1.5vw);
  padding-bottom: calc(1.85rem + 1.5vw);
}

.transition-bar {
  display: block;
  height: 10vh;
  background-color: black;
}

#project-page {
  height: auto;
}

.subtitle {
  padding: 8vh 0 8vh 0;
  font-size: 5rem;
}

.train-bar {
  width: 100vw;
  height: 5vh;
  background-color: black;
}

.proj {
  width: 100vw;
  height: auto;
  position: relative;
  overflow: hidden;
}

.proj-intro {
  flex-basis: 50vw;
  background-color: aquamarine;
  display: flex;
  font-size: 3.4rem;
}

.proj-intro div img{
  max-width: 100%;
  height: auto;
}

.verticle-bar {
  content: '';
    position: absolute;
    background: blue;
    width: 18vh;
    height: 177%;
    transform: rotate(-23deg);
    top: -210px;
    left: 43%;
}

.proj-description {
  flex-basis: 50vw;
  padding: 1.5vh 3vw 1.5vh 3vw;
  padding-right: calc(1.5rem + 1.75vw);
  padding-left: calc(1.5rem + 1.75vw);
  line-height: 1.7;
}

.proj:nth-child(odd) .proj-intro {
  order: 1;
}

.proj:nth-child(odd) .proj-description {
  order: 3;
}

.proj:nth-child(even) .proj-intro {
  order: 3;
}

.proj:nth-child(even) .proj-description {
  order: 1;
}

.train-bar + .train-bar {
  margin-top: 15vh;
}
