body {
  margin: auto;
}

.landing-section {
  background: paleturquoise;
  height: 100vh;
  width: 100vw;
}

#title {
  position: absolute;
  margin: 41vh 0 0 .75vw;
  font-size: 56pt;
}

#tri {
  width: 35vw;
}

.social-links {
  width: 20vw;
}

a > img {
  width: 2vw;
}

.text {
  font-size: 24pt;
}

#biography {
  padding-top: 5vh;
  width: 50vw;
}

.transition-bar {
  width: 100vw;
  height: 10vh;
  background-color: black;
}

#project-page {
  background-color: aliceblue;
  width: 100vw;
  height: 300vh;
}

.subtitle {
  padding: 6vh 0 6vh 0;
  font-size: 48pt;
}

.train-bar {
  width: 100vw;
  height: 5vh;
  background-color: black;
}

.proj {
  width: 100vw;
  height: 45vh;
}

.proj-intro {
  flex-basis: 50vw;
  background-color: aquamarine;
  display: flex;
  font-size: 40pt;
}

.verticle-bar {
  width: 25vw;
  height: 45vh;
  background-color: blue;
  order: 2;
}

.proj-description {
  font-size: 24pt;
  width: 50vw;
  padding: 2vh 3vw 2vh 3vw;
  line-height: 1.7;
}

.proj:nth-child(odd) .proj-intro {
  order: 1;
}

.proj:nth-child(odd) .proj-description {
  order: 3;
}

.proj:nth-child(even) .proj-intro {
  order: 3;
}

.proj:nth-child(even) .proj-description {
  order: 1;
}

.train-bar + .train-bar {
  margin-top: 15vh;
}
