#landing-page{
  background: url("gradient.jpg");
  height: 100vh;
  width: 100vw;
  background-position: top-left;
}

body{
  margin:auto;
  height: 200vh;
  width: 100vw; 
}

#tri{
  margin-left: 30vw;
  margin-top: 3vh;
  height: 60vh;
  z-index: -1;
}

#title{
  position: absolute;
  z-index: 1;  
  margin-left: 39vw;
  font-size: 60pt;
  margin-top: -22vh;
  color:gray;
}

#social-links img{
  height: 4vh;
  margin-left: 1vw;
}

#social-links{
  margin-left: 44vw;
}

#biography{
  display: inline-block;
  font-size: 24pt;
  width: 60vw;
  margin-left: 20vw;
  padding-top: 4vh;
  color:black;
}

#p-title{
  margin-top:20vh;
  font-size: 60pt;
  margin-left: 42vw;
  padding-top: 10px;
  color: black;
}

#project-page{
  margin-top: -20vh;
  height: 100vh;
  width: 100vw;
}